<div class="jumbotron">
  <div class="page-header">
    <h1>Items</h1>
    <p><a class="btn btn-success btn-lg" href="items/new" role="button">New Task</a></p>
  </div>
  <div class="flash">
    <% if flash[:notice] %>
      <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= flash[:notice] %>
      </div>
    <% elsif flash.now[:alert] %>
      <div class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= flash.now[:alert] %>
      </div>
    <% elsif flash[:alert] %>
      <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= flash[:alert] %>
      </div>
    <% end %>
  </div>
  <div class="row">
    <% @items.each do |item| %>
        <div id="item-<%= item.id %>" class="col-md-8">
          <%= link_to item.name, item%> - <%= distance_of_time_in_words(item.created_at, Time.now - 7.days) %> Remaining</br>
          <%= link_to "Completed", item, method: :delete, remote: true, class: 'glyphicon glyphicon-ok' %>
          <%= link_to "Edit", edit_item_path(item.id), class: 'btn btn-success' %>
          <!-- <%= link_to "Delete", item, method: :delete, class: 'btn btn-danger' %> -->
        </div>
    <% end %>
   </div>
 </div>
