<!DOCTYPE html>
<html>
<head>
  <title>Blocitoff</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container-fluid">
    <ul class="leftnavtab">
      <li class="leftnavli"><%= link_to "Blocitoff", root_path %></li>
      <li class="leftnavli"><%= link_to "About", welcome_about_path %></li>
      <% if user_signed_in? %>
      <li class="leftnavli"><%= link_to "Tasks", user_items_path(current_user) %></li>
      <% end %>
      <% if user_signed_in? %>
        <li class="rightnavli"><%= link_to 'My Profile', user_path(current_user)%></li>
        <li class="rightnavli"><%= link_to "Sign Out", destroy_user_session_path, method: :delete%></li>
        <li class="rightnavli"><%= image_tag current_user.avatar_url(48), class: "gravatar" %></li>
        <li class="rightnavlitext"><%= current_user.email %></li>
      <% else %>
        <li class="rightnavli"><%= link_to "Sign In", new_user_session_path %></li>
        <li class="rightnavli"><%= link_to "Sign Up", new_user_registration_path %></li>
      <% end %>
    </ul>
    <%= yield %>
  </div>

  <footer class="footer">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4">Matthew Golden</div>
        <div class="col-md-4">mgolden91@gmail.com</div>
        <div class="col-md-4">#link to something</div>
      </div>
    </div>
  </footer>
</body>

</html>
